<!DOCTYPE html>
<html>
<head>
  <title>Senetur</title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application" %>
</head>
<body>

  <%= yield %>

    <%= javascript_include_tag "jquery.js" %>
    <script>
        /* PRE LOADER */
        jQuery(window).load(function () {
            "use strict";
            jQuery(".status").fadeOut();
            jQuery(".preloader").delay(1000).fadeOut("slow");
        })
    </script>
    <%= javascript_include_tag "smoothscroll.js" %>
    <%= javascript_include_tag "bootstrap.min.js" %>
    <%= javascript_include_tag "jquery.nav.js" %>
    <%= javascript_include_tag "wow.min.js" %>
    <%= javascript_include_tag "nivo-lightbox.min.js" %>
    <%= javascript_include_tag "owl.carousel.min.js" %>
    <%= javascript_include_tag "jquery.stellar.min.js" %>
    <%= javascript_include_tag "retina.min.js" %>
    <%= javascript_include_tag "jquery.ajaxchimp.min.js" %>
    <%= javascript_include_tag "jquery.videoBG.js" %>
    
    <!-- GOGLE MAP -->
     <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js" %>
    
    <!-- CUSTOM JS  -->
    <%= javascript_include_tag "custom.js" %>
</body>
</html>